# see https://github.com/CppCXY/EmmyLuaCodeStyle
[*.lua]
# [basic]

# optional space/tab
indent_style = space
# if indent_style is space, this is valid
indent_size = 4
# none/single/double
quote_style = double

continuation_indent = 4
## extend option
continuation_indent.before_block = 4
continuation_indent.in_expr = 4
continuation_indent.in_table = 4
